{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Songlist</title>
    <!-- CSS  -->
    {% load staticfiles %}
    <link href="{% static 'chords/css/flatly.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'chords/css/style.css' %}" type="text/css" rel="stylesheet" />
    <script src="{% static 'chords/js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'chords/js/bootstrap.min.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=PT+Mono&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'songs:index' %}">Songlist</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar_collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% block songs_nav %}{% endblock %}"><a href="{% url 'songs:song_list' %}">{% trans 'Songs' %}</a></li>
                        <li class="{% block playlist_nav %}{% endblock %}"><a href="{% url 'songs:playlist_list' %}">{% trans 'Sets' %}</a></li>
                        {% if user.is_authenticated %}
                            <li class="{% block tags_nav %}{% endblock %}"><a href="{% url 'songs:tag_list' %}">{% trans 'Tags' %}</a></li>
                        {% endif %}
                        <li class="{% block contacts_nav %}{% endblock %}"><a href="{% url 'songs:contacts' %}">{% trans 'Contacts' %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="/accounts/profile/">{{ user }}</a></li>
                            <li><a href="/accounts/logout/">{% trans 'Logout' %}</a></li>
                        {% else %}
                            <li><a href="/accounts/login/">{% trans 'Login' %}</a></li>
                            <li><a href="/accounts/register/">{% trans 'Register' %}</a></li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li><a href="/admin/"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            {% block content %}{% endblock %}
        </div>

    </div>

</body>
</html>
