<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Songbook</title>
    <!-- CSS  -->
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'chords/css/materialize2.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'chords/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

    <nav class="amber darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'songs:index' %}" class="brand-logo">Songbook</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'songs:index' %}">Songs</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'songs:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'songs:login' %}">Login</a></li>
                {% endif %}
            </ul>

            <!-- Mobile section -->
            <ul id="nav-mobile" class="side-nav">
                <li><a href="{% url 'songs:index' %}">Songs</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        </div>
    </nav>

    <div class="section">
        <div class="row">
            <div class="card-panel col l8 offset-l2">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="page-footer amber darken-4">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            <br><br>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'chords/js/materialize.js' %}"></script>
    <script src="{% static 'chords/js/init.js' %}"></script>

</body>
</html>
