<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}Songlist{% endblock %}</title>
    <!-- CSS  -->
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'chords/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'chords/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

    <nav class="amber darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'songs:index' %}" class="brand-logo">Songlist</a>

            <ul class="right hide-on-med-and-down">
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'songs:index' %}">Published</a></li>
                <li class="{% block songs_nav %}{% endblock %}"><a href="{% url 'songs:song_list' %}">Songs</a></li>
                <li class="{% block playlist_nav %}{% endblock %}"><a href="{% url 'songs:playlist_list' %}">Playlists</a></li>
                {% if user.is_authenticated %}
                    <li class="{% block tags_nav %}{% endblock %}"><a href="{% url 'songs:tag_list' %}">Tags</a></li>
                    <li><a href="/accounts/profile/">Profile</a></li>
                    <li><a href="/accounts/logout/">{{ user }} / Logout</a></li>
                {% else %}
                    <li><a href="/accounts/login/">Login</a></li>
                    <li><a href="/accounts/register/">Register</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="/admin/"><i class="material-icons">settings</i></a></li>
                {% endif %}
            </ul>

            <!-- Mobile section -->
            <ul id="nav-mobile" class="side-nav">
                <li><a href="{% url 'songs:index' %}">Published</a></li>
                <li><a href="{% url 'songs:song_list' %}">Songs</a></li>
                <li><a href="{% url 'songs:playlist_list' %}">Playlists</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'songs:tag_list' %}">Tags</a></li>
                    <li><a href="/accounts/profile/">Profile</a></li>
                    <li><a href="/accounts/logout/">{{ user }} / Logout</a></li>
                {% else %}
                    <li><a href="/accounts/login/">Login</a></li>
                    <li><a href="/accounts/register/">Register</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="/admin/"><i class="material-icons">settings</i></a></li>
                {% endif %}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        </div>
    </nav>

    <div class="section">
        <div class="row">
            <div class="col l8 offset-l2 m9 offset-m1 s12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="page-footer amber darken-4">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            <br><br>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'chords/js/jquery.textfill.min.js' %}"></script>
    <script src="{% static 'chords/js/materialize.min.js' %}"></script>
    <script src="{% static 'chords/js/init.js' %}"></script>
    <script>
        // https://github.com/jquery-textfill/jquery-textfill
        $(document).ready(function() {
            $('select').material_select();
            $('.song_body').textfill({
                widthOnly: true,
                maxFontPixels: 60,
                innerTag: 'span'
            });
        });
    </script>
</body>
</html>
