{% extends 'chords/playlist.html' %}

{% block content %}

    <h2 class="text-center">Playlist "{{ playlist.title }}"</h2>

    <div class="row">
        <div class="list-group col-md-offset-2 col-md-8">
            {% for song in playlist.songs.all %}
                <a class="list-group-item" href="{% url 'songs:song' pk=song.id %}">
                    {{ song.title }}
                </a>
            {% endfor %}
        </div>
    </div>

    {% if playlist.user == user %}
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'songs:playlist_edit' pk=playlist.id %}" class="btn btn-default">Edit</a>
                <a href="{% url 'songs:playlist_delete' pk=playlist.id %}" class="btn btn-default">Delete</a>
            </div>
        </div>
    {% endif %}

{% endblock %}