{% extends 'chords/playlist.html' %}

{% block content %}

    <h2 class="text-center">Playlist "{{ playlist.title }}"</h2>

    <div class="list-group">
        {% for song in playlist.songs.all %}
            <a class="list-group-item" href="{% url 'songs:song' pk=song.id %}">
                {{ song.title }}
            </a>
        {% endfor %}
    </div>

    {% if playlist.user == user %}
        <a href="{% url 'songs:playlist_edit' pk=playlist.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'songs:playlist_delete' pk=playlist.id %}" class="btn btn-danger">Delete</a>
    {% endif %}

{% endblock %}