{% extends 'chords/playlist.html' %}
{% load i18n %}

{% block content %}
    {% if form.title %}
        <h2 class="text-center">Playlist "{{ form.title.value }}"</h2>
    {% endif %}
    <form method="post" class="form">
        {% csrf_token %}
        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
            <div class="form-group">
                {% load bootstrap %}
                {{ form|bootstrap }}
            </div>
            <div class="form-group text-center">
                <input type="submit" value="{% trans 'Submit' %}" class="btn btn-success"/>
            </div>
        </div>
    </form>
{% endblock %}