{% extends 'chords/playlist.html' %}
{% load i18n %}

{% block content %}

    <h2 class="text-center">{% trans 'Sets' %}</h2>

    <div class="row">
        <div class="list-group col-md-offset-2 col-md-8">
            {% for playlist in playlists %}
                <a class="list-group-item" href="{% url 'songs:playlist' pk=playlist.id %}">
                    {{ playlist.title }}<span class="badge">{{ playlist.songs.count }}</span>
                </a>
            {% endfor %}
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="text-center">
            <a class="btn btn-success" href="{% url 'songs:playlist_create' %}">{% trans 'Create new one' %}</a>
        </div>
    {% endif %}

{% endblock %}