{% extends 'chords/base.html' %}
{% load i18n %}

{% block content %}

    <h2 class="text-center">
        {% trans 'Songbook with tags and thematic sets' %}
    </h2>
    <br>
    <p>
        {% trans 'Songs, marked as "Public" available by direct link.' %}
    </p>
    <p>
        {% trans 'Songs, approved by administrator available by search.' %}
    </p>

    <h3 class="text-center">{% trans 'Random selected songs' %}</h3>
    <div class="list-group">
        {% for song in songs %}
            <a class="list-group-item" href="{% url 'songs:song' pk=song.id %}">
                {{ song.title }}
            </a>
        {% endfor %}
    </div>

{% endblock %}