{% extends 'chords/base.html' %}

{% block content %}
    <form action="{% url 'songs:edit' pk=song.id|default:0 %}" method="post">
        {% csrf_token %}
        {{ form }}
        <datalist id="tags">
            {% for tag in tags %}
                <option value="{{ tag }}">
            {% endfor %}
        </datalist>
        <div class="center">
            <input type="submit" value="Submit" class="btn"/>
            <br><br>
        </div>
    </form>
    {% if song and song.tags %}
    {% endif %}

{% endblock %}