{% extends 'chords/song.html' %}
{% load i18n %}

{% block content %}
    <h2 class="text-center">{{ song.title }}</h2>

    {% if song.profile %}
        <div class="text-center">
            Author: {{ song.profile.author }}. Composer: {{ song.profile.composer }}.
            {% if song.profile.translator %}
                Translator: {{ song.profile.translator }}.
            {% endif %}
            {% if song.profile.year %}
                {{ song.profile.year }}.
            {% endif %}
        </div>
        <br>
    {% endif %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
            {# TODO Open full size #}
            {% autoescape off %}
                <p class="song_body song_show"><span>{{ song.body_nbsp|linebreaksbr }}</span></p>
            {% endautoescape %}
        </div>
    </div>

    <div class="text-center">
        <br>
        {% if song.user == user %}
            {% for tag in song.tags.all %}
                <a class="label label-info" href="{% url 'songs:tag' pk=tag.id %}">{{ tag }}</a>
            {% endfor %}
            {% for playlist in song.playlists.all %}
                <a class="label label-primary" href="{% url 'songs:playlist' pk=playlist.id %}">{{ playlist }}</a>
            {% endfor %}
        {% endif %}
    </div>

    {% if song.user == user %}
        <br>
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'songs:song_edit' pk=song.id %}" class="btn btn-default">{% trans 'Edit' %}</a>
                {% if song.profile %}
                    <a href="{% url 'songs:song_profile_edit' pk=song.profile.id %}" class="btn btn-default">{% trans 'Profile' %}</a>
                {% else %}
                    <a href="{% url 'songs:song_profile_create' pk=song.id %}" class="btn btn-default">{% trans 'Profile' %}</a>
                {% endif %}
                <a href="{% url 'songs:song_delete' pk=song.id %}" class="btn btn-default">{% trans 'Delete' %}</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
