{% extends 'chords/song.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="input-field col l6 m6 s12">
                {{ form.author.errors }}
                {{ form.author }}{{ form.author.label_tag }}
            </div>
            <div class="input-field col l6 m6 s12">
                {{ form.composer.errors }}
                {{ form.composer }}{{ form.composer.label_tag }}
            </div>
        </div>

        <div class="row">
            <div class="input-field col l6 m6 s12">
                {{ form.translator.errors }}
                {{ form.translator }}{{ form.translator.label_tag }}
            </div>
            <div class="input-field col l6 m6 s12">
                {{ form.year.errors }}
                {{ form.year }}
                {{ form.year.label_tag }}
            </div>
        </div>
        <div class="input-field col l12 m12 s12 center">
            <input type="submit" value="Submit" class="btn"/>
        </div>

    </form>
{% endblock %}