{% extends 'chords/song.html' %}
{% load i18n %}

{% block content %}
    <h2 class="text-center">{% trans 'Song list' %}</h2>

    <form method="post" action="{% url 'songs:song_list' %}" class="form row">
        <div class="col-xs-12">
            {% csrf_token %}
            {% load bootstrap %}
            {{ form|bootstrap }}
            <div class="form-group hidden-lg hidden-md hidden-sm">
                <input type="submit" class="btn btn-success col-xs-12" value="{% trans "Search" %}">
            </div>
        </div>
    </form>

    <br>

    <div class="list-group">
        {% for song in songs %}
            <a class='list-group-item' href="{% url 'songs:song' pk=song.id %}">{{ song }}</a>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <nav class="text-center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="{% url 'songs:song_list' %}?page={{ page_obj.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                {% else %}
                    <li class="disabled"><a href="#!"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                {% endif %}

                <li class="active"><a href="#!">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a></li>

                {% if page_obj.has_next %}
                    <li><a href="{% url 'songs:song_list' %}?page={{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                {% else %}
                    <li class="disabled"><a href="#!"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="text-center">
            <a class="btn btn-success"  href="{% url 'songs:song_create' %}">{% trans 'Create new one' %}</a>
        </div>
    {% endif %}


{% endblock %}