{% extends 'chords/tag.html' %}

{% block content %}
    <h2 class="text-center">Tag "{{ tag.title }}"</h2>

    <div class="list-group">
        {% for song in tag.songs.all %}
            <a class="list-group-item" href="{% url 'songs:song' pk=song.id %}">{{ song.title }}</a>
        {% endfor %}
    </div>

    <div class="row center">
        <a href="{% url 'songs:tag_edit' pk=tag.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'songs:tag_delete' pk=tag.id %}" class="btn btn-danger">Delete</a>
    </div>

{% endblock %}
