{% extends 'chords/tag.html' %}
{% load i18n %}

{% block content %}
    <h2 class="text-center">{% trans 'Tag' %} "{{ tag.title }}"</h2>

    <div class="list-group">
        {% for song in tag.songs.all %}
            <a class="list-group-item" href="{% url 'songs:song' pk=song.id %}">{{ song.title }}</a>
        {% endfor %}
    </div>

    <div class="text-center">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{% url 'songs:tag_edit' pk=tag.id %}" class="btn btn-default">{% trans 'Edit' %}</a>
            <a href="{% url 'songs:tag_delete' pk=tag.id %}" class="btn btn-default">{% trans 'Delete' %}</a>
        </div>
    </div>

{% endblock %}
