{% extends 'chords/tag.html' %}
{% load i18n %}

{% block content %}

    <h2 class="text-center">{% trans 'Tag list' %}</h2>

    <div class="list-group">
    {% for tag in tags %}
        <a class="list-group-item" href="{% url 'songs:tag' pk=tag.id %}">
            {{ tag.title }}<span class="badge">{{ tag.songs.count }}</span>
        </a>
    {% endfor %}
    </div>

    <div class="text-center">
        <a class="btn btn-success" href="{% url 'songs:tag_create' %}">{% trans 'Create new one' %}</a>
    </div>

{% endblock %}